<section class="hero is-danger is-fullheight">

  <!-- Hero header: will stick at the top -->
<div class="hero-head">
  <nav class="tabs is-fullwidth">
      <ul>
        <li><a class="button is-large is-primary">Primary</a></li>
        <li><a class="button is-large is-info">Info</a></li>
        <li><a class="button is-large is-success">Success</a></li>
        <li><a class="button is-large is-warning">Warning</a></li>
        <li><a class="button is-large is-danger">Danger</a></li>
        <li><a class="button is-large is-light">Light</a></li>
        <li><a class="button is-large is-dark">Dark</a></li>
      </ul>
  </nav>
</div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        WELCOME
      </h1>
      <h2 class="subtitle is-3">
        EMBER
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
<div class="hero-foot">
  <nav class="tabs is-fullwidth">
      <ul>
        <li><a class="button is-large is-primary">Primary</a></li>
        <li><a class="button is-large is-info">Info</a></li>
        <li><a class="button is-large is-success">Success</a></li>
        <li><a class="button is-large is-warning">Warning</a></li>
        <li><a class="button is-large is-danger">Danger</a></li>
        <li><a class="button is-large is-light">Light</a></li>
        <li><a class="button is-large is-dark">Dark</a></li>
      </ul>
  </nav>
</div>

</section>

{{outlet}}
